/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*菜单栏 */
.menu-bar {
	
    -fx-padding:3 3;
}
/*菜单栏的内距，即字与框的距离 */
.menu{
    -fx-padding: 3;
}
.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-opacity: 0.9;
}
/*菜单栏上的字的大小12 */
.menu:hover{
	-fx-background-color:#C0C0C0;
	-fx-padding:3 3;
}
.bottompane{
	-fx-background-color:#4e72b8;
	-fx-border-color:black;
	-fx-border-width:0.25;
	-fx-border-style:solid ;
}
.apanefirst{
	-fx-border-color:black;
	-fx-border-width:0.5;
	-fx-border-style:solid ;
}
.apanehead,.apanedevicehead,.alldevice,.ad,.bd,.cd,.zad,.zbd,.zcd,.zaad,.waad,.wad,.wbd,.wcd,.ar,.hbo,.readyp,.blockp,.memory,.bottomar,.orderpane{
	-fx-border-color:black;
	-fx-border-width:0.5;
	-fx-border-style:solid ;
}
.apanedevice{
	-fx-border-color:black;
	-fx-border-width:0.5;
	-fx-border-style:solid ;
}
.borderpanede{
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-border-width:0.5;
	-fx-border-style:solid ;
}
